{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Jersey Patriots</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat vel natus obcaecati, excepturi dicta asperiores dolore, veniam autem dolorem eveniet, at saepe? Qui omnis veritatis pariatur nulla? Aperiam, eos.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/jersey.jpg" class="img-thumbnail" width="300px">
        </div>
    </div>
{{> footer }}